<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>ServerIP</key>
		<string>69.33.0.205</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>ServerIP</key>
		<string>69.33.0.202</string>
	</dict>
	<key>Test</key>
	<dict>
		<key>ServerIP</key>
		<string>69.33.0.212</string>
	</dict>
	<key>Demo</key>
	<dict>
		<key>ServerIP</key>
		<string>69.33.0.205</string>
	</dict>
</dict>
</plist>
