<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Base Location</string>
	<key>items</key>
	<dict>
		<key>Location</key>
		<array>
			<dict>
				<key>type</key>
				<string>TextFieldTableViewCell</string>
				<key>showIndicator</key>
				<false/>
				<key>action</key>
				<string>0</string>
				<key>dictionary</key>
				<dict>
					<key>label</key>
					<string>Name:</string>
					<key>placeholder</key>
					<string>Location Name</string>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>type</key>
				<string>LabelTableViewCell</string>
				<key>showIndicator</key>
				<false/>
				<key>action</key>
				<string>0</string>
				<key>dictionary</key>
				<dict>
					<key>label</key>
					<string>Street:</string>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>type</key>
				<string>LabelTableViewCell</string>
				<key>showIndicator</key>
				<false/>
				<key>action</key>
				<string>0</string>
				<key>dictionary</key>
				<dict>
					<key>label</key>
					<string>City:</string>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>type</key>
				<string>LabelTableViewCell</string>
				<key>showIndicator</key>
				<false/>
				<key>action</key>
				<string>0</string>
				<key>dictionary</key>
				<dict>
					<key>label</key>
					<string>State:</string>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>type</key>
				<string>LabelTableViewCell</string>
				<key>showIndicator</key>
				<false/>
				<key>action</key>
				<string>0</string>
				<key>dictionary</key>
				<dict>
					<key>label</key>
					<string>Latitude:</string>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>type</key>
				<string>LabelTableViewCell</string>
				<key>showIndicator</key>
				<false/>
				<key>action</key>
				<string>0</string>
				<key>dictionary</key>
				<dict>
					<key>label</key>
					<string>Longitude:</string>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
